/* @theme my_theme */

/*
originally sourced from https://github.com/cunhapaulo/marpstyle/blob/main/style/socrates.css 
OG credentials:
  ============================================
    Created by Paulo Cunha
    version: 1.0
    last update: 04.dez.2022
  ============================================       
*/

/* Importing COLOR SCHEMA */

@import "default";
@import "schema";
@import "structure";

/***************** COMMON STRUCTURE **********************/

/* to change defaults check: https://github.com/sindresorhus/github-markdown-css/blob/main/github-markdown.css */

:root {
  font-family: 'IBM Plex Mono Light', 'Space Mono', monospace;
  font-weight: initial;
  --italic-background-color   : rgba(214, 25, 66, 0.144);
  --italic-background-color   : rgba(8, 206, 255, 0.3);
  --italic-background-color   : rgba(8, 140, 255, 0.236);    
  background-color: rgb(255, 255, 255); 
  --borderColor-default: rgb(255, 255, 255);
  --borderColor-default: #d1d9e0;
    --borderColor-muted: #ffffff;
    --borderColor-neutral-muted: #ffffff;
    --borderColor-accent-emphasis: #0969da;
    --borderColor-success-emphasis: #1a7f37;
    --borderColor-attention-emphasis: #9a6700;
    --borderColor-danger-emphasis: #cf222e;
    --borderColor-done-emphasis: #8250df;

  
}

footer img { vertical-align: bottom; }

ul {list-style-type: "-";}

h1 {
  color:rgba(78, 78, 80, 0.814);
  padding-bottom: 2mm;
  margin-bottom: 12mm;
  font-weight: 300;
  font-family: 'IBM Plex Mono Light', monospace;
}

h2 {
  font-weight: 400;
}

h3 {
  font-weight: 300;
}
p {
  font-size: 14pt;
  font-weight: 400;
  font-family: 'Space Mono', monospace;
}

small 
{
  font-size: 12px;
  font-weight: 500;
  font-family: 'Space Mono', monospace;
}

ul li{
  font-size: 14pt;
  font-weight: 400;
  font-family: 'Space Mono', monospace;
}

table, tr, td, th {

  font-size: 18px; 
  font-weight: 400;
  font-family: 'Space Mono', monospace;
  /* border: 0 !important; */
}

video, iframe {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

section.columns {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 1rem;
  }

section.no_border{
  td, th {
  font-size: 18px; /* Set the font size to 16 pixels */
  font-weight: 400;
  font-family: 'Space Mono', monospace;
  border: 0 !important;
  }
}

section.titlepage .title {
  border-bottom: 1px solid rgb(255, 217, 0);
}


section.cite {
  --strong-color        : rgba(255, 5, 5, 0.795);
}

section.titlepage .author,
section.titlepage .date,
section.titlepage .organization {
  text-align: left;
}

section strong {
  color:rgb(141, 169, 196) ;
  color:rgba(23, 86, 118) ;
  color:rgb(181, 101, 118) ;
  color:rgb(186, 50, 79) ;
  color:rgb(229, 107, 111) ;
  padding-left: 1px;
  padding-right: 1px;
  font-weight: 600;
}

section.transition em{
  background-color: rgb(255, 166, 0) !important;
}


section.transition strong {
  color: rgba(230, 250, 6, 0.905);
  font-weight: 1000;
  text-shadow: 2px 2px 10px rgb(101, 45, 3);
}


section.transition2 strong {

  color: rgb(10, 100, 235);
  color: rgb(161, 240, 3);

}

img[alt~="align-right"] {
    float: right;
}

img[alt~="align-left"] {
    float: left;
}

  img[alt~='align-center'] {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

